<!-- <div class="container">
  <div class="row">
    <div class="sidebar-container">
      <div class="sidebar-logo txt-center">
        <p *ngFor="let usuario of usuarios">{{usuario.nome}}</p>
      </div>
      <div class="txt-center p-20">
        <img src="assets/Image/EdsonJunior.jpg" class="fotoSideBar"/>
      </div>
      <div class="txt-center">
        <ul class="sidebar-navigation">
          <li>
            <a routerLink="home">
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
          </li>
          <li>
            <a routerLink="usuario">
              <i class="fa fa-home" aria-hidden="true"></i> Sobre
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-light style-menu">
  <div class="container">
    <a class="navbar-brand color-txt fs-24" routerLink="/home" routerLinkActive="active">Portfólio Web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ml-30">
          <a class="nav-link active color-txt" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-txt" routerLink="/usuario" routerLinkActive="active">Edson Junior</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-txt" routerLink="/features" routerLinkActive="active">Features Components</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle color-txt" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/features" id="home">Home</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;" *ngFor="let feature of features" (click)="getfeature(feature.codigo)">{{feature.codigo}}</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>