.style-menu{
    background-color: rgb(24, 25, 54);
    padding: 15px;
}
.color-txt{
    color: rgb(255, 255, 255) !important; 
}
/* Font-size */
.fs-15{
    font-size: 15px;
}
.fs-18{
    font-size: 18px;
}

.fs-24{
    font-size: 24px;
}

/* Padding */

.p-20{
    padding: 20px;
}

/* Margin */
.mt-8{
    margin-top: 8px;
}

.ml-10{
    margin-left: 10px;
}

.ml-12{
    margin-left: 12px;
}
.ml-30{
    margin-left: 30px;
}
.mr-20{
    margin-right: 20px;
}


.mt-8{
    margin-top: 8px;
}

.mt-10{
    margin-top: 10px;
}
