.logoHeader{
    font-family: sans-serif;
    background-color: #2574A9;
    margin-bottom: 10px;
}

/* Font-size */
.fs-15{
    font-size: 15px;
}
.fs-18{
    font-size: 18px;
}

.fs-24{
    font-size: 24px;
}

/* Padding */

.p-20{
    padding: 20px;
}

/* Margin */
.mt-8{
    margin-top: 8px;
}

.ml-10{
    margin-left: 10px;
}

.ml-12{
    margin-left: 12px;
}
