<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <div class="text-center mt-20">
            <h1>Dados Pessoais</h1>
          </div>
          <div class="mt-10">
            <h6>Nome Completo</h6>
            <input class="form-control form-control-sm" type="text" placeholder="Digite seu nome completo">
            <h6 class="mt-8">E-mail</h6>
            <input type="email" class="form-control form-control-sm" placeholder="Digite um e-mail válido">
          </div>
        </div>
        <div class="form-group mt-20">
          <h6>Carta de Apresentação</h6>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group mt-20 text-center">
          <h3>Experiência Profissional</h3>
        </div>
        <div class="mt-10">
          <div class="row">
            <div class="col-md-6">
              <h6>Empresa</h6>
              <input class="form-control form-control-sm" type="text" placeholder="">
            </div>
            <div class="col-md-6">
              <h6>Cargo</h6>
              <input class="form-control form-control-sm" type="text" placeholder="">
            </div>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-5 col-md-4">
            <h6>Data de admissão</h6>
            <input class="form-control form-control-sm" type="date">
          </div>
          <div class="col-5 col-md-4">
            <h6>Data de demissão</h6>
            <input class="form-control form-control-sm" type="date">
          </div>
          <div class="col-2 col-md-4">
            <h6>Atual</h6>
            <div>
              <input class="form-check-input" type="checkbox">
            </div>
          </div>
        </div>
        <div class="mt-10">
          <h6>Atribuições / Realizações</h6>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row mt-20">
          <div class="col-6 col-md-6">
            <button type="button" class="btn btn-secondary">Editar</button>
          </div>
          <div class="col-6 col-md-6 al-r">
            <button type="button" class="btn btn-success">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
