<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4 mt-20">
      <div class="text-center">
        <h1>New Features</h1>
      </div>
      <div>
       <span>Aqui estarei postando constantemente as atualizações e novas FEATURES desenvolvidas no projeto, construindo o meu portfólio.</span>
        <p>Além de postagens de novas features, estarei compartilhando em meu repositório do GitHub componentes como: Header, Footer, Menu responsivos etc...</p> 
      </div>
      <div class="text-center mt-30">
        <h2>Componentes</h2>
      </div>      
      <select class="form-select form-select-lg mb-3" [(ngModel)]="featureSelecionada">
        <option *ngFor="let feature of features" [ngValue]="feature">{{feature.codigo}}</option>
      </select>
      <div class="fs-24 text-center mt-10">
        <span>{{featureSelecionada?.codigo}}</span>
      </div>
      <div class="fs-15 mt-8">
        {{featureSelecionada?.descricao}}
      </div>
    </div>
</div>