<div class="container">
    <div class="row">
        <div class="offset-4 col-6">
            <div class="mt-20">
                <h1 class="text-center" *ngFor="let usuario of usuarios">{{usuario.nome}}</h1>
                Lorem ipsum potenti primis etiam imperdiet leo eget dictum non phasellus viverra in ac commodo etiam, tempus erat molestie nullam laoreet purus cursus curae dapibus orci sit ut primis. in pretium justo quisque lobortis velit ullamcorper quisque sociosqu mollis netus pharetra semper, integer bibendum ligula nisi turpis aliquet dui gravida dapibus risus. quisque velit nullam per condimentum dictumst libero turpis consectetur pretium, senectus placerat leo class purus mollis condimentum scelerisque, risus habitasse imperdiet per senectus congue sed tristique. potenti tellus ullamcorper mollis lorem nam odio ipsum maecenas, nunc nam lacinia curabitur aenean aliquet litora mauris, a convallis vitae per urna congue enim. 
            </div>
            <div>
                <p *ngFor="let usuario of usuarios">{{usuario.apresentacao}}</p>
            </div>
            <div>
                <p *ngFor="let usuario of usuarios">{{usuario.habilidades}}</p>
            </div>
            <div>
                <p *ngFor="let usuario of usuarios">{{usuario.apresentacao}}</p>
            </div>
            <div>
                <p *ngFor="let usuario of usuarios">{{usuario.habilidades}}</p>
            </div>
        </div>
    </div>
</div>
 