<div class="container mt-56">
    <div class="card-colors p-30">
        <div class="row mb-4">
            <div class="col-md-5 col-sm-11 col-xs-11">
                <div>
                    <div class="d-flex">
                        <h1 style="color: #957bda">Portfólio</h1>
                    </div>
                    <p>App desenvolvido para desenvoltura, praticar e por em prática o que aprendi até aqui.</p>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h5 class="titulo">Contato</h5>
                <ul>
                    <li>edjunior@gmail.com</li>
                    <li>(15) 99731-6367</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h5 class="titulo">LinkedIn</h5>
                <ul class="card-text ml-20">
                    <li><a href="https://www.linkedin.com/in/edson-junior-952354182/"><img src="assets/Image/linkedin.png" class="w-20 h-20 color-txt" alt="linkedin"></a></li>
                </ul>
            </div>
        </div>
        <div class="divider mb-4"> </div>
        <div class="row" style="font-size:10px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-left">
                    <p><i class="fa fa-copyright"></i> Copyright © 2021 </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-right mr-4 d-flex policy">
                    <div>Todos direitos reservados a Edson Junior.</div>
                </div>
            </div>
        </div>
    </div>
</div>