.footer-itens{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 36px;
    background-color: rgb(24, 25, 54);
}
.posicao{
    position: unset;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: #646771;
}
a:hover {
    color: #957bda;
}


/* Font-size */
.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px;
}
.fs-15{
    font-size: 15px;
}
.fs-18{
    font-size: 18px;
}

.fs-24{
    font-size: 24px;
}

/* Padding */
.p-16{
    padding: 16px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}

/* Margin */

.ml-10{
    margin-left: 10px;
}

.ml-12{
    margin-left: 12px;
}
.ml-20{
    margin-left: 20px;
}

.mt-8{
    margin-top: 8px;
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-56{
    margin-top: 56px;
}

/* display */
.d-flex{
    display: flex;
}
.t-center{
    text-align: center;
}

.w-20{
    width: 20px;
}

.h-20{
    height: 20px;
}



/* --------------------------------------------- */
.color-txt{
    color: #957bda;
}
body {
    background-color: #f3f6fd;
    font-size: 11.5px;
    font-weight: bold;
    color: rgb(189, 196, 203)
}

.card-colors {
    color: #646771 !important;
    background-color: #16151a
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #957bda;
    cursor: pointer;
}

hr {
    border-width: 3px
}

.policy>div {
    padding: 4px
}

.titulo {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}